<form id=tekitou>
  <input type="hidden" name="pid" value="15484">
</form>
<script>
  /*
windowを閉じたら子プロセスのrunserverをキルする。
  */
  $(window).on("beforeunload", function () {
     if(((event.clientX > document.body.clientWidth) && (event.clientY<0)) || event.altKey){
    $.ajax({

      'url': '{% url "ajax:ajax" %}',
      'type': 'GET',
      'data': $("form#tekitou").serialize(),
      'dataType': 'text',
    })
      .done(function (data) { alert("runserver8080をキルしました。pid:" + data) });
    return false;
　　　｝

  });

</script>
