@charset "utf-8";

div#flex_container{
    margin: 10px;
    width:1000px;
    border-radius: 5px;
    background: #F5F0CF;
    display:flex;
    background-color: gray;
    flex-wrap: wrap;
    align-items: stretch;


}

div.flex_item{
    padding:10px;
    word-break: break-all;
    height:600px;
}

div.flex_item:nth-child(1) {
    width:100px;
    
    background-color:green;
}

div.flex_item:nth-child(2) {
    
    
    background-color:lightcoral;
}

div.flex_item:nth-child(3) {
    
    
    background-color:blue;
}

div.flex_item:nth-child(4) {
    
    
    background-color:blueviolet;
}

div.flex_item:nth-child(5) {
    
    
    background-color:red;
}

div.flex_item:nth-child(6) {
    
    
    background-color:blueviolet;
}

div.flex_item:nth-child(7) {
    
    
    background-color:blue;
}

div.flex_item:nth-child(8) {
    
    
    background-color:yellow;
}

div.flex_item:nth-child(9) {
    
    
    background-color:blue;
}

div.flex_item:nth-child(10) {
    
    
    background-color:blueviolet;
}



div#b_main {
   background-color: pink;
   margin:30px 20px 30px 20px;
}