@charset "utf-8";

div#flex_container{
    width:100%;
    height:60%;
    display:flex;
    background-color: gray;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    align-content:flex-start;
    flex-wrap:nowrap;
}

div.flex_item{
    padding:10px;
    word-break: break-all;
}

div.flex_item:nth-child(1) {
    
    
    background-color:green;
}

div.flex_item:nth-child(2) {
    
    
    background-color:lightcoral;
}

div.flex_item:nth-child(3) {
    
    
    background-color:blue;
}

div.flex_item:nth-child(4) {
    
    
    background-color:blueviolet;
}

div.flex_item:nth-child(5) {
    
    
    background-color:red;
}

div.flex_item:nth-child(6) {
    
    
    background-color:blueviolet;
}

div.flex_item:nth-child(7) {
    
    
    background-color:blue;
}

div.flex_item:nth-child(8) {
    
    
    background-color:yellow;
}

div.flex_item:nth-child(9) {
    
    
    background-color:blue;
}

div.flex_item:nth-child(10) {
    
    
    background-color:blueviolet;
}



div#b_main {
   background-color: pink;

}