@charset "utf-8";

div#a_main {
    width:200px;
    height:200px;
    margin:auto;
    padding: 35px;
    background-color:orange;
    border: solid 5px red;
    box-shadow: 10px 10px 20px 0px  rgba(0,0,0,0.4);
}

div#b_main {
   background-color: pink;
   margin:30px 20px 30px 20px;
}