@charset "utf-8";

div#a_main {
    margin:auto;
    padding:20px;
    width:200px;
    height:200px;
    background: linear-gradient(0deg, white, navy);
    background-clip:content-box;
    background-color:orange;
    border:dashed 10px #000000; 
    border-top-left-radius: 20% 20% ;
}

div#b_main {
   background-color: pink;
   margin:30px 20px 30px 20px;
}