<!-- Page Content -->


<h1 class="mt-5">ManyToManyField</h1>
<p>[参考ページ]<a href="https://docs.djangoproject.com/ja/2.1/topics/db/models/">Django公式document</a></p>

<p>AとBの所属関係を記述するだけならManytoManyFieldでもできる。</p>
<p>AがBにいつから、どれくらいの間所属したかなど、AとBの詳細な関係性までを記述するためにはmanytomanyfieldだけでは記述できない。</p>
<p>（manytomanyfieldだけで記述しようとすると、できないことがわかると思う）</p>
<p>このような関係性を追加で記述するのがmanytomanyfieldにおけるextrafield</p>

<h2>基礎的な例(_set.allの使い方）</h2>
<p>直接関係性を記述していないが、きちんとお互い多対多の関係になっている</p>
{% for i in player_list %}
 {{i}}<br>
 {{ i.team_set.all }}<br>
{% endfor %}
<hr>
<h2>基礎的な例(allの使い方）</h2>
{% for i in team_list %}
 {{i}}<br>
 {{ i.players.all }}<br>
{% endfor %}

<hr>
<h2>基礎的な例3</h2>
{% for i in membership_list %}
 {{i}}<br>
 {{ i.player.name }}<br>
 {{ i.team.name }}<br>
 {{ i.relationship }}<br><br>
{% endfor %}



