@charset "utf-8";

div#a_main {
    margin:auto;
    padding:35px;
    width:200px;
    height:200px;
    background-color:orange;
    border:dashed 10px #000000; 
    background-clip:content-box;
}

div#b_main {
   background-color: pink;
   margin:30px 20px 30px 20px;
}