<!-- Page Content -->


<h1 class="mt-5">center</h1>
<p>[参考ページ]<a href="https://docs.djangoproject.com/ja/2.1/ref/templates/builtins/">Django公式document</a></p>


<h2>単純な例</h2>
<p>{{ Date }}</p><br>
<p>{{ Date|date:'c' }}</p><br>
<p>{{ Date|date:'r' }}</p><br>
<p>{{ Date|date:'U' }}</p><br>
<p>{{ Date|date:'Y' }}</p><br>
<p>{{ Date|date:'Y m' }}</p><br>
<p>{{ Date|date:'Y m d' }}</p><br>
<p>{{ Date|date:'Y-m-d' }}</p><br>
<p>{{ Date|date:'Y/m/d l' }}</p><br>
<p>{{ Date|date:'Y/F/j S l' }}</p><br>
<p>{{ Date|date:'DATE_FORMAT' }}</p><br>
<p>{{ Date|date:'DATETIME_FORMAT' }}</p><br>
<p>{{ Date|date:'SHORT_DATE_FORMAT' }}</p><br>
<p>{{ Date|date:'SHORT_DATETIME_FORMAT' }}</p><br>
<p>{{ Date|date:"D d M Y" }}</p> 
<p>{{ Date|time:"H:i" }}</p> 
<p>{{ Date|date:"H:i" }}</p> 
<hr>

