<!-- Page Content -->


<h1 class="mt-5">汎用viewにおけるデフォルトでのテンプレート名と変数名の表</h1>
<p>[参考ページ]<a href="https://torina.top/detail/293/">Narito blog</a></p>

<table class="table">
    <thead>
   <tr>
       <th>汎用view名</th><th>テンプレート名</th><th>変数名</th>
   </tr>
</thead>
<tbody>
   <tr>
    <td>ListView</td><td>[model名]_list.html</td><td>[model名]_listまたはobject_list</td>
</tr>
<tr>
        <td>CreateView</td><td>[model名]_form.html</td><td>form</td>
    </tr>
    <tr>
            <td>UpdateView</td><td>[model名]_form.html</td><td>form</td>
        </tr>
        <tr>
                <td>DetailView</td><td>[model名]_detail.html</td><td>[model名]またはobject</td>
            </tr>
            <tr>
                    <td>DeleteView</td><td>[model名]_confirm_delete.html</td><td>[model名]またはobject</td>
                </tr>    
</tbody>
</table>


